@import "tailwindcss";

:root {
  --background: #0F0B08;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pixelify: var(--font-pixelify);
  --font-pressStart: var(--font-pressStart);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pixelify_Sans, Press_Start_2P, sans-serif;
}
